@page "/"

<h1>Peliculas disponibles</h1>

<ListadoPeliculas Peliculas="ObtenerPeliculas()">
    <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
</ListadoPeliculas>

<h1 @onclick="changeEnab">Inserte una nueva película</h1>

<TextBox placeholder="Nombre de la Película" disabled="true"/>

@if (enab)
{

    <div>
        <p>HOLAAAAAAAAAAAAAAAAAAAA</p>
    </div>

}

<Imagen/>

@code {

    bool enab = false;

    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
        {

            new Pelicula() {Titulo = "Spiderman", Lanzamiento = new DateTime(2009, 4, 2)},
            new Pelicula() {Titulo = "Moana", Lanzamiento = new DateTime(2019, 9, 6)},
            new Pelicula() {Titulo = "Inception", Lanzamiento = new DateTime(2014, 11, 5)}

        };
    }

    void changeEnab()
    {
        enab = !enab;
    }

}
