<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me COMPONENT!!!</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
