<div>
    <p>Titulo de la pelicula: @Peli.Titulo</p>
    <p>Lanzamiento de la pelicula: @Peli.Lanzamiento.ToString("dd MMMM yyyy")</p>
</div>

@code {

  public Pelicula Peli { get { return ObtenerPelicula(); } }

  private Pelicula ObtenerPelicula()
  {
      return new Pelicula()
      {
          Titulo = "Spiderman",
          Lanzamiento = new DateTime(2019, 7, 2)

      };
  }

}
